// sample override using SASS
body {
  font-family: Poppins !important;
}
.container {
  padding: 15px;
}
.g-page {
  margin-top: 15px;
  padding-top: 15px;
}
.g-page-title {
  font-size: 20px;
  font-weight: 700;
  color: #00bcb8;
}
a.footerText {
  color: #fe4544;
}
.rProgress {
  float: right;
}
p {
  font-weight: 500;
  font-family: Poppins !important;
}
.mb-10 {
  margin-bottom: 10px;
}
.ml-16 {
  margin-left: 16px !important;
}
// span {
//   color: black;
// }
.custom-time-picker {
  .v-time-picker-title {
    justify-content: center;
  }

  &.use-hours-only {
    .v-time-picker-title {
      pointer-events: none;
    }
  }
}